# PyPI Configuration Example
# Copy this file to ~/.pypirc (Linux/Mac) or %USERPROFILE%\.pypirc (Windows)
# Then edit with your credentials

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = pypi-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = pypi-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
